---
import * as greatPost from '../content/games/HullAndVoidHome.md';
import SectionLayout from "@layouts/SectionLayout.astro";
const games = Object.values(import.meta.glob('../content/games/*.md', { eager: true }));
---


  <!-- {games.map(post => {<AboutLayout {...post.data} ></GamesLayout>})} -->
<section>
  {<SectionLayout {...greatPost} set:html={greatPost.compiledContent()} />}
</section>

<style>
  section {
  @apply pb-4 pt-6;
  }
</style>