---
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import BreadcrumbsBlank from "@components/BreadcrumbsBlank.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
    activeNav : any
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav={frontmatter.activeNav} />
  <!-- <Breadcrumbs /> -->
  <BreadcrumbsBlank />
  <main id="main-content">
    <section id="games" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1>{frontmatter.title}</h1>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>

<style>
  #main-content h1 {
    @apply mb-5 text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
</style>