---


export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<h2>{frontmatter.title}</h2>
<p><slot/></p>

<style>
    h2 {
      @apply mb-5 inline-block text-2xl font-semibold tracking-wide;
    }
    #hull-and-void {
    @apply pb-6 pt-8;
    }
</style>
  