---


export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<div>
    <h2>{frontmatter.title}</h2>
    <p><slot /></p>
</div>

<style>
    h2 {
      @apply inline-block text-2xl font-semibold tracking-wide;
    }
</style>
  